/* Language Switcher Styles */
.language-switcher {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.language-switcher a {
    text-decoration: none;
    text-transform: uppercase;
}

.language-switcher a:hover {
    text-decoration: underline;
}


.post .post-content table {
    td {
        padding: 2px 2rem 2px 0;
    }
}

.post .post-content table {
    padding-bottom: 2px;
}

.post .post-content table tbody tr:nth-child(odd) {
    background-color: var(--global-divider-color);
}